.mobile_application{
    min-height: 860px;
    background:url("@img/Rectangle_20.jpg") center center/cover no-repeat ;
    border: none;
    padding:48px 0 80px ;
    .mobil_app_foto{
        position: relative;
        width: 320px;
        height: 280px;
        padding-top: 91px ;
        margin-bottom: 19px;
        .m-a_descr{
            color: #ffffff;
            font-size: 24px;
            font-weight: 400;
            line-height: 31px;
            text-align: center;
            text-transform: uppercase;            
        }
        .m-a_plass{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 26px;
            height: 26px;
            background-color: #000000;
            border-radius: 100%;
            position: absolute;
            bottom: 35px;
            left: 50%;
            transform: translateX(-50%);
            cursor: pointer;

            &:before{
                content: '';
                display: block;
                height: 2px;
                width: 14px;
                background-color: #1eacc7;

            }
            &::after{
                content: '';
                position: absolute;
                display: block;
                height: 14px;
                width: 2px;
                background-color: #1eacc7;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        
    }
    .card_1{
        background: url("@img/card/Карточка 1.png");
    }
    .card_2{
        background: url("@img/card/Карточка 2.png");
    }
    .card_3{
        background: url("@img/card/Карточка 3.png");
    }
    .card_4{
        background: url("@img/card/Карточка 4.png");
    }
    .card_5{
        background: url("@img/card/Карточка 5.png");
    }
    .card_6{
        background: url("@img/card/Карточка 6.png");
    }
}
.bloc_subheader{
    margin: 15px 0 32px 0;
    font-weight: 400;
    font-size: 17px;
    line-height: 13px;
    color: #222222;
    text-align: center;
}

